@import "~bootstrap/scss/bootstrap";

/*************************/
/****General settings****/ 
/***********************/

$blue: #02b9f3;
$light-blue: #93e1ed;
$dark-blue: #005c9d;
$blue-class-disabled: #0183ac;
$danger: #dc3545;
$success: #28a745;

$br-radius: 8px;

%flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.danger {
    color: $danger;
}

.success {
    color: $success;
}


/****Item styles****/ 


/**Сustom button styles**/

.btn-custom {
    border: 1px solid $blue;
    color: $blue;
}

.btn-custom:hover {
    background-color: $blue;
    border: 1px solid $blue;
    color: #fff;
}

.btn-custom:focus {
    box-shadow: none;
}


/************/
/****App****/ 
/**********/

.app {
    background-color: $light-blue;

    .main-row {
        height: 100vh;
        
        .main {
            background-color: #fff;
            min-width: 900px;
            border-radius: $br-radius;
            height: 463px;
        }
    }
}

/***************/
/****Navbar****/ 
/*************/
.navbar {
    .navbar__btn-panel {
        max-width: 900px;

        .navbar__btn-panel__nav-link {
            text-decoration: none;
            color: $dark-blue;
            width: 400px;
            background-color: #fff;
            border-radius: $br-radius;
            text-align: center;
        }

        .navbar__btn-panel__nav-link:hover {
            background-color: $dark-blue;
            transition: all 0.2s linear;
            
            .navbar__btn-panel__nav-link__btn-name {
                color: #fff;
                transition: all 0.2s linear;
            }
        }
    }
}

/****************Money Calculation****************/

/***************/
/****Inputs****/ 
/*************/
%btn-add {
    margin-left: 137px;
    border: 1px solid $blue;
    background-color: $blue;
}


.form-panel {
    height: 80px;

    .form-panel__fields__btn-add-field {
        
        .form-panel__fields__btn-add-field__btn-add {  
            @extend %btn-add;
        }

        .form-panel__fields__btn-add-field__btn-add_disabled {  
            @extend %btn-add;
        }

        .form-panel__fields__btn-add-field__btn-add:hover {  
            border: 1px solid $blue-class-disabled;
            background-color: $blue-class-disabled;
        }
    }   
}


/*************************************/
/****Panel of Expenses and Income****/ 
/***********************************/  

/******************/
/****Scrollbar****/ 
/****************/
::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: #eee;
}

.expensesIncomeList-field {
    @extend %flex-container;
    flex-direction: column;

    .expensesIncomeList-field__list {
        width: 498px;
        max-height: 280px;
        overflow: auto;

        .expensesIncomeList-field__list__list-item {
            width: 480px;
            @extend %flex-container;

            .expensesIncomeList-field__list__list-item__content-field {
                width: 90%;
                @extend %flex-container;

                .expensesIncomeList-field__list__list-item__content-field__category-name {
                    width: 45%;
                }
                .expensesIncomeList-field__list__list-item__content-field__money {
                    width: 15%;
                }
            }
        }
    }
}


/****************************/
/****Panel of Categories****/ 
/**************************/
.categories-field {
    .categories-field__list {
        .categories-field__list__list-item {
            @extend %flex-container;
        }

        .categories-field__list__list-item-last {
            @extend %flex-container;
            align-items: baseline;
            color: $blue;
        
            .categories-field__list__list-item-last__total-value {
                font-size: 1.5rem;
            }
        }
    }
}


/****************Notebook****************/

.notebookList-field {
    height: 383px;

    .notebookList-field__list {
        max-height: 280px;
        overflow: auto;

        .notebookList-field__list__list-item {
            @extend %flex-container;
        }
    }
}


