@import "~bootstrap/scss/bootstrap";

/*************************/
/****General settings****/ 
/***********************/

$blue: #02b9f3;
$light-blue: #93e1ed;
$dark-blue: #005c9d;
$blue-class-hover: #0183ac;
$red: #dc3545;
$green: #28a745;

$br-radius: 8px;

.danger {
    color: $red;
}

.success {
    color: $green;
}


/****Custom Item Styles****/ 

/****Сustom Scrollbar****/
::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: #eee;
}


/**Сustom Button**/
.btn-custom {
    border: 1px solid $blue;
    color: $blue;
}

.btn-custom:hover {
    background-color: $blue;
    border: 1px solid $blue;
    color: #fff;
}

.btn-custom:focus {
    box-shadow: none;
}


/************/
/****App****/ 
/**********/
%App {
    height: 100vh;
    min-width: 378px;
    background-color: #93e1ed;
}

%interfaceWrapper {
    max-width: 800px;
    margin: 0 auto;
}

.interfaceWrapper-moneyCalc {
    @extend %interfaceWrapper;
}

.interfaceWrapper-notebook {
    @extend %interfaceWrapper;
}

.App-moneyCalc {
    @extend %App;

    @media (max-height: 732px) {
        height: auto;
    }
}

.App-notebook {
    @extend %App;

    @media (max-height: 732px) {
        height: auto;
    }
}


/***************/
/****Header****/ 
/*************/
.Header {
    min-width: 200px;

    .col_btn-nav {
        max-width: 350px;

        .btn-nav {
            width: 350px;
            height: 80px;
            text-decoration: none;
            color: $dark-blue;
            background-color: #fff;
            border-radius: $br-radius;
            text-align: center;
            padding-top: 1rem;
        }

        .btn-nav:hover {
            background-color: $dark-blue;
            transition: all 0.2s linear;

            .btn-nav_name {
                color: #fff;
                transition: all 0.2s linear;
            }
        }
    }

    @media (max-width: 575.98px) {
        .row_header {
            justify-content: center;
        }
    } 
}


/********************/
/****MainContent****/ 
/******************/
%MainContent {
    background-color: #fff;
    height: 463px;
    min-width: 200px;
    margin-top: 190px;
    border-radius: $br-radius;

    
    

    
}

.MainContent-moneyCalc {
    @extend %MainContent;

    @media (max-width: 991.98px) {
        margin-top: 20px;
    }
    
    @media (max-width: 767.98px) {
        margin-top: 20px;
        height: auto;
    }

    @media (max-width: 575.98px) {
        margin-top: 0;
    }

    @media (max-width: 812px) and (min-height: 1024px) {
        height: 463px;
        margin-top: 190px;
    }

    @media (max-width: 812px) and (min-height: 1024px) {
        height: 463px;
        margin-top: 190px;
    }

    @media (max-width: 767.98px) and (min-height: 1024px) {
        height: auto;
        margin-top: 190px;
    }
}

.MainContent-notebook {
    @extend %MainContent;

    @media (max-height: 732px) {
        margin-top: 0;
    }

    @media (max-width: 480px) {
        margin-top: 108px
    }

    @media (max-width: 360px) {
        margin-top: 49px
    }
}


/*************/
/****Form****/ 
/***********/
%btn-add {
    border: 1px solid $blue;
    background-color: $blue;
    color: #fff;
    outline: none;
}

.btn-add {
    @extend %btn-add;

    &:hover {
        border: 1px solid $blue-class-hover;
        background-color: $blue-class-hover;
        color: #fff;
    }
}

.btn-add_disabled {
    @extend %btn-add;
    opacity: 0.5;
    
    &:hover {
        color: #fff;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

@media (max-width: 767.98px) {
    .form-moneyCalc {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-add {
        margin-top: 10px;
    }

    .btn-add_disabled {
        margin-top: 10px;
    }
}



/****************Money Calculator App****************/


/*************************************/
/****Expenses and Income List****/ 
/***********************************/  
.row_content {
    margin-top: 25px;
    height: 380px;
}

.list_expInc {
    height: 295px;
    overflow: auto;

    .data-field {
        width: 90%;
        .data-field_category-name {
            width: 45%;
        }
        .data-field_category-date {
            width: 29%;

            @media (max-width: 575.98px) {
                width: 21%;
            }

            @media (min-width: 992px) {
                width: 22%;
            }
            @media (min-width: 505px) and (max-width: 576px) {
                width: 17%;
            }
        }
        .data-field_category-money {
            text-align: center;
            width: 24%;
        }

        @media (min-width: 576px) and (max-width: 767.98px) {
            .data-field_category-date {
                width: 17%;
            }
            .data-field_category-money {
                width: 20%;
            }
        }
    }
}

.btn-custom {
    margin-top: 30px;
}

@media (max-width: 767.98px) {
    .App-moneyCalc {
        height: auto;
    }

    .row_content {
        height: auto;
    }

    .btn-custom {
        margin-top: 20px;
    }
}


/****************************/
/****Categories list****/ 
/**************************/
.categoriesList_last-item {
    color: $blue;

    & > h4 {
        margin-bottom: 0;
    }

    .total-value {
        font-size: xx-large;
    }
}





/****************Notebook App****************/


/************/
/***Notes***/
/**********/
.col_notebook {
    height: 383px;

    .list_notebook {
        max-height: 280px;
        overflow: auto;

        .list-item_data {
            width: 90%;
            word-wrap: break-word;
        } 
    }

    .list_notebook .btn-custom {
        margin-top: 0;
    } 
}


/***************************************/
/**** Custom checkbox for note list****/ 
/*************************************/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: #777;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $light-blue;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -2px;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: 50%;
    left: 5px;
    margin-top: -4px;
    border-radius: 0;
    border: 2px solid $green;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

input[type="checkbox"]:checked + label {
    color: $green;
}
