@import "~bootstrap/scss/bootstrap";

$btn-color: #02b9f3;
$br-radius: 8px;

.app {
    background-color: #93e1ed;
}

.main-row {
    height: 100vh;

    .main {
        background-color: #fff;
        min-width: 900px;
        border-radius: $br-radius;
    }
}

// Navbar
.navbar {
    .navbar__btn-panel {
        max-width: 900px;

        .navbar__btn-panel__nav-link {
            text-decoration: none;
            color: #005c9d;
            width: 400px;
            background-color: #fff;
            border-radius: $br-radius;
            text-align: center;
        }

        .navbar__btn-panel__nav-link:hover {
            background-color: #005c9d;
            transition: all 0.2s linear;
            
            .navbar__btn-panel__nav-link__btn-name {
                color: #fff;
                transition: all 0.2s linear;
            }
        }
    }
}


// Inputs
.form-panel {
    height: 60px;

    .form-panel__fields__btn-add-field {
        .form-panel__fields__btn-add-field__btn-add {  
            margin-left: 137px;
            border-radius: $br-radius;
            border: 1px solid $btn-color;
            background-color: $btn-color;
        }
    }
}

// Panel of Expenses and Income 
.expensesIncomeList-field {
    .expensesIncomeList-field__list {
        max-height: 280px;
        overflow: auto;

        .expensesIncomeList-field__list__list-item {
            width: 498px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

// Panel of Categories
.categories-field {
    .categories-field__list {
        .categories-field__list__list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .categories-field__list__list-btn {
                border-radius: $br-radius;
                border: 1px solid $btn-color;
                background-color: $btn-color;
            }
        }

        .categories-field__list__list-item-last {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        
            .categories-field__list__list-item-last__total-value {
                font-size: 1.5rem;
            }
        }
    }
}
